.comment {
  display: block;
  font-size: 0.85rem;

  &:first-child {
    border-top: 1px solid $border-color;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    flex: 1;
  }

  &__time {
    color: $gray-600;
  }

  &__btn-group-item {
    color: $gray-600 !important;

    &:hover {
      color: $gray-800 !important;
    }
  }
}

.new-comment {
  &__link {
    color: $gray-600 !important;
    font-size: 0.85rem;

    &:hover {
      color: $gray-800 !important;
    }
  }
}
