$border-color: var(--bs-border-color-translucent);

body {
  position: relative;
  min-height: 100vh;

  &:after {
    content: '';
    display: block;
    height: 50px;
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
}

a {
  text-decoration: none;
}

.headline {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin: 0 !important;
  }
}

.content {
  border-top: 1px solid $border-color;
}

.search-form {
  flex: auto;
}

.dropdown__avatar {
  width: 38px;
  height: auto;
  border-radius: 4px;
  cursor: pointer;
}

// pagy overrides
.pagination {
  flex-wrap: wrap;

  .page-item {
    margin-top: 0.3rem;
  }
}
