.auth-form {
  max-width: 480px;
  padding: 1.2rem;
  margin: 50px auto;
  border: 1px solid $border-color;
  border-radius: 4px;

  &__remember-me-checkbox {
    margin: -5px 0 9px;
    vertical-align: middle;
  }

  &__remember-me-label {
    padding: 0 0 1px 5px;
    margin: -5px 0 10px;
    font-weight: 400;
    cursor: pointer;
    vertical-align: middle;
    color: $gray-600;
  }
}
