// index
.content {
  border-top: 1px solid #e0e0e0;
  margin-top: 10px;
}

.question-summary {
  padding: 15px 0;
  border-bottom: 1px solid #e0e0e0;

  .votes, .answers, .views {
    display: inline-block;
    color: #777;

    .mini-counts {
      text-align: center;
      font-size: 17px;
      font-weight: 300;
      color: #777;
      margin-bottom: 4px;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 80%;
    }
  }

  .col-xs-3 {
    text-align: center;
  }

  .col-xs-9 {
    padding-left: 10px;
  }

  .votes {
    padding-left: 10px;
    float: left;
  }

  .views {
    padding-right: 10px;
    float: right;
  }

  .summary {
    display: inline-block;

    a {
      vertical-align: top;
      font-size: 16px;
    }
  }

  p {
    float: right;
    font-size: 12px;
    color: #999;
    margin: 5px 0 0;
  }
}

// show
.question {
  border-bottom: 1px solid #e0e0e0;

  .row {
    padding: 20px 0
  }

  h3 {
    margin: 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
  }

  .question-body {
    padding-bottom: 10px;
  }

  .edit_question {
    margin-top: 15px;
  }
}

.answer {
  border-bottom: 1px solid #e0e0e0;

  .row {
    padding: 20px 0
  }

  .answer-body {
    padding-bottom: 10px;
  }

  .edit_answer {
    margin-top: 15px;
  }
}

.comments {
  margin-top: 20px;
  border-top: 1px solid #e0e0e0;

  .comment {
    font-size: 13px;
    padding: 5px;
    border-bottom: 1px solid #e0e0e0;
  }

  .new_comment {
    padding-top: 15px;

    .btn {
      margin-top: 15px;
    }
  }

  .new-comment-link {
    margin-top: 20px;
  }
}

.new-answer, .new-comment {
  padding-top: 10px;
}
