.tag {
  color: $white !important;
  padding: 3px 7px;
  font-size: 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  background: $blue-400;
  border-radius: 3px;
}

.tags {
  &__item {
    @extend .tag;
  }

  &__item-multiplier {
    margin: 0 0.3rem;
    color: $gray-600;
  }

  &__item-count {
    font-size: 0.8rem;
    color: $gray-600;
  }
}

.tag-group {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  &__item {
    @extend .tag;
  }
}
