// index
.user-info {
  overflow: hidden;
  padding: 6px;

  &:hover {
    background-color: #f4f8fb;
  }

  &__avatar-wrapper {
    float: left;
  }

  &__avatar {
    border-radius: 3px;
    width:  48px;
    height: 48px;
  }

  &__link {
    display: block;
  }

  &__details {
    float: left;
    margin-left: 9px;
    width: calc(100% - 64px);
  }

  &__location {
    color: $gray-700;
    font-size: 0.85rem;
  }
}

// show
.profile {
  &__avatar-wrapper {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 0;
    background-color: $gray-300;
    border-radius: 5px;
  }

  &__avatar {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
  }

  &__details-list {
    list-style: none;
    padding: 0;
  }

  &__details-list-item {
    margin-bottom: 10px;
  }
}

// edit
.avatar-uploader {
  &__wrapper {
    position: relative;
    padding-top: 100%;
    width: 100%;
    height: 0;
    background-color: $gray-300;
    border-radius: 5px;
  }

  &__image {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
  }

  &__change-btn {
    position: absolute;
    font-size: 0.85rem;
    border-radius: 0 0 5px 5px;
    bottom: 0;
    left: 0;
    padding: 8px 0;
    width: 100%;
    text-decoration: none !important;
    text-align: center;
    background: rgba(0,0,0,0.6);
    color: $white !important;

    &:hover {
      background: rgba(0,0,0,0.8);
    }
  }

  &__remove-btn {
    @extend .bi, .bi-x-lg;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 38px;
    height: 38px;
    left: calc(100% - 38px);
    top: 0;
    text-decoration: none !important;
    background: rgba(0,0,0,0.6);
    color: white !important;
    border-radius: 0 5px 0 0;

    &:hover {
      background: rgba(0,0,0,0.8);
    }
  }

  &__file-input {
    display: none !important;
  }
}
