.vote {
  display: inline-block;
  text-align: center;
}

.vote-up-off {
  display: block;
  margin: 0 0 10px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: transparent transparent #627180;
}

.vote-up-on {
  display: block;
  margin: 0 0 10px;
  border-style: solid;
  border-width: 0 15px 15px;
  border-color: transparent transparent #FF8C00;
}

.vote-down-off {
  display: block;
  margin: 10px 0 0;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #627180 transparent transparent;
}

.vote-down-on {
  display: block;
  margin: 10px 0 0;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #FF8C00 transparent transparent;
}

span.vote_count {
  font-size: 20px;
  color: #627180;
}
