.buttons
  = f.submit resource.persisted? ? 'Save' : "Post Your #{resource.class.to_s.capitalize}", class: 'btn btn-primary'
  = link_to 'Close', '', data: { action: 'click->form#closeForm'}, class: 'btn btn-default close-form' if resource.persisted?
